# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson
'.source.php':
  'cmmc':
    'prefix': 'cmmc',
    'body':"""
      /**
       * $1
       */
    """
  'cmmf':
    'prefix': 'cmmf',
    'body':"""
      /**
       * $1
       *
       * @param
       * @return
       * @throws
       * @author zairl23
       */
    """
  'field':
    'prefix': 'field'
    'body': """
      /**
       * @Field(key="$1", name="$2", type="$3")
       * @$4(key="$5", name="$6", className="$7")
       */
    """
  'la-package-publish':
    'prefix':'la-package-publish'
    'body':"""
      // @link https://laravel.com/docs/master/packages#public-assets
      $this->publishes([
        __DIR__.'/path/to/assets' => public_path('vendor/courier'),
    ], 'public');
    """
  'la-transation':
      'prefix': 'la-transation'
      'body': """
          DB::beginTransaction();
          DB::rollBack();
          DB::commit();
      """
  'la-package-publish':
      'prefix':'la-package-publish'
      'body':"""
          // @link https://laravel.com/docs/master/packages#public-assets
          $this->publishes([
              __DIR__.'/path/to/assets' => public_path('vendor/courier'),
          ], 'public');
      """
  'mysql-createdb':
    'prefix': 'mysql-createdb'
    'body':"""
        create database $1 default charset utf8mb4 collate utf8mb4_unicode_ci;
    """
